html {
  background-color: #3c373e;
  font-family: 'Roboto';
}

main {
  padding: 20px;
}

table {
  width: 50%;
  margin: 0 auto;
  border-collapse: collapse;
}

th, td {
  padding: 0 16px;
  border: none;
}

thead tr {
  padding-bottom: 30px;
  border-top: none;
  border-bottom: none !important;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: .2rem;
}

th {
  padding: 0.75rem;
}

.tbody__row {
  position: relative;
  text-align: center;
  transition: .3s all ease;
}

.tbody__row td {
  min-width: 150px;
  margin: 20px 0;
  color: #777;
  font-weight: 300;
  font-size: 18px;
  border: none;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.tbody__row:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.tbody__row:hover td {
  color: #ddd;
}

.tbody__row:hover td:first-child {
  color: #fdd114;
}

.about__col {
  width: 300px;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tbody__inputTd {
  height: 50px;
  border-right: 1px black solid;
}

.tbody__inputTd:last-child {
  border: none;
}

.tbody__inputTd input {
  width: 100%;
  border: none;
  height: 100%;
  outline: none;
  padding: 0;
  font-size: 16px;
  background: transparent;
  color: white;
}

.edit__btn {
  position: absolute;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  top: 50%;
  right: -5%;
  transform: translate(50%, -50%);
}

.edit__btn img {
  width: 25px;
}

.hide {
  display: none;
}

#toggle {
  text-align: center;
  margin-bottom: 64px;
  color: #777;
  font-weight: 300;
  font-size: 18px;
}

#pagination {
  display: flex;
  justify-content: space-evenly;
  max-width: 250px;
  margin: 50px auto 0;
}

.pageBtn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ccc;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.1s ease;
}

.pageBtn:hover {
  background: #fdd114;
  opacity: 1
}

.activePage {
  background: #fdd114;
  opacity: 1
}

.toggle_inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  margin: 0 auto;
}

.check_box {
  display: flex;
  position: relative;
}

.check_box input[type="checkbox"] {
  display: none;
}

.check_box label {
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  border: 0px solid #fdd114;
  width: 20px;
  height: 20px;
  transition: all 0.1s ease;
  z-index: 2;
  box-shadow: 0px 0px 0px 2px #fdd114;
  display: block;
}

.check_box span {
  margin: 0 0 0 10px;
  box-shadow: none;
  border: none;
}

.check_box input[type="checkbox"]:checked~label {
  border: 3px solid white;
  background: #fdd114;
}